@import '@styles/variables';

.Page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.FormWrapper {
  max-width: 450px;
  width: 100%;
  margin: 32px auto 0;
}

.FormTitleWrapper {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-areas: "link title .";
  grid-template-columns: minmax(100px,1fr) auto minmax(100px,1fr);
  margin-bottom: 30px;
  text-align: center;
  color: $secondary-light;
}

.BackWrapper {
  grid-area: link;
}

.FormTitle {
  align-self: center;
  font-size: 22px;
  grid-area: title;
  margin: 0;
  flex-grow: 1;
}

.Form {
  width: 100%;
  background-color: $content-color;
  padding: $content-padding-desktop;
  border-radius: 10px;
}
