@import "@styles/variables";
@import "@styles/mixins";

.Controls {
  background-color: $content-color;
  padding: 16px 32px 16px;
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  position: fixed;
  width: 100%;
  z-index: 9;

  @include for-tablet-l() {
    width: calc(100% - $sidebar-width);
  }
}

.ControlsSearchWrapper {
  width: 100%;
  margin-right: 20px;

  @include for-tablet() {
    width: 100%;
    max-width: 320px;
  }
}

.ControlsFiltersButton {
  display: block;

  @include for-tablet() {
    display: none;
  }
}

.Dropdowns {
  display: none;
  gap: 20px;

  @include for-tablet () {
    display: flex;
  }
}

.RoleDropdown {
  margin: 16px 0;

  @include for-tablet() {
    max-width: 160px;
    min-width: 160px;
    margin: 0;
  }
}

.SortDropdown {
  margin: 16px 0;
  @include for-tablet() {
    max-width: 190px;
    min-width: 190px;
    margin: 0;
  }
}

.ControlsModal {
  height: calc(100vh - $header-height);
  width: 100vw;
  position: fixed;
  z-index: -9;
  padding: 24px;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $content-color;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;

  &--active {
    opacity: 1;
    display: block;
    z-index: 100;
    pointer-events: unset;
  }

  @include for-tablet() {
    display: none;
  }
}

.ModalContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 11;
}

.ModalTitle {
  font-size: 1.2em;
}

.ModalDropdowns {
  flex-grow: 1;
}
