@import "@styles/variables";

.Item {
  align-self: start;
  border: 1px solid $secondary-light;
  background-color: $content-color-hover;
  opacity: 0.8;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;

  svg {
    font-size: 2em;
  }
}

.Title {
  margin: 8px 0 0;
  font-size: 0.9em;
  font-weight: 600;
  color: $light-text-color;
}

.Icon {
  font-size: 24px;
  color: $light-text-color;
}
