@import "@styles/mixins";

.Content {
  padding: 16px;
}

.CourseHeader {
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  background-color: var(--content-color);
}

.Title {
  font-size: 1.4em;
}

.Description {
  color: var(--light-text-color);
  font-size: 1em;
  //border-left: 3px solid var(--light-text-color);
  //padding-left: 16px;
}

.BlockWrapper {
  padding: 16px;
  margin-top: 16px;
  background-color: var(--content-color);
}

.Block {
  padding: 16px;
  margin-top: 16px;
  background-color: var(--content-color);
  border-radius: 10px;
}

.BlockTitle {
  font-size: 1.3em;
  margin: 0 0 16px;
}

.Divider {
  border-bottom: 1px solid var(--border-color);
  margin: 16px 0;
}

.Item {
  margin-top: 16px;
}

.CourseContent {
  display: flex;
  gap: 16px;
  border-radius: 10px;
}

.Course {
  //flex-basis: 80%;
  flex-grow: 1;
}

.CourseNavigation {
  position: sticky;
  top: calc(var(--controls-height) + 16px + var(--header-height));
  flex-grow: 1;
  background-color: var(--content-color);
  align-self: flex-start;
  border-radius: 10px;
  width: 250px;
  padding: 16px;
  min-width: 250px;
  max-width: 250px;

  @include for-desktop-xl() {
    width: 350px;
    min-width: 350px;
  }
}

.NavigationItem {
  margin: 14px 0;
  position: relative;
  align-items: center;
  display: flex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
