@import "@styles/variables";

.InfoBlock {
  align-self: flex-start;
  background-color: var(--body-accent-color);
  border: 1px solid var(--accent-border-color);
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  gap: 8px;

  svg {
    min-width: 32px;
    color: var(--reverse-text-color);
  }

  p {
    margin: 0;
    color: var(--secondary-light);
    font-weight: 600;
    padding: 16px;
  }
}

.IconWrapper {
  background-color: var(--primary-color);
  border-right: 1px solid var(--accent-border-color);
  padding: 8px;
  display: flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items: center;
}
