@import '@styles/variables';

.Task {
  position: relative;
  margin: 16px 16px 0 16px;

  &:last-child {
    margin-bottom: 16px;
  }

  p {
    margin: 0;
  }
  //
  //&:before {
  //  content: '';
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: 10px;
  //  opacity: 0;
  //  height: 100%;
  //  background-color: $secondary-bright;
  //  transition: opacity 0.5s;
  //}
  //
  //&--active {
  //
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    left: 0;
  //    top: 0;
  //    opacity: 1;
  //    width: 10px;
  //    height: 100%;
  //    background-color: $secondary-bright;
  //  }
  //}
}

.ItemWrapper {
  display: flex;
  gap: 16px;
  margin: 16px 0 0;
  width: 100%;

  &--active {
    opacity: 0;
  }

  &:last-child {
    flex-grow: 1;
  }
}

.DragIconWrapper {
  align-self: flex-start;
}

.DragIcon {
  color: $accent-text-color;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.Content {
  flex-grow: 1;
  padding: 16px;
  border: 1px solid $border-color;
  background-color: $content-color-hover;
}
