@import "@styles/variables";
@import "@styles/mixins";

.LayoutWrapper {
  display: flex;
}

.ContentWrapper {
  flex-grow: 1;
  background-color: $body-color;
  min-height: 100vh;
}

.ContentHolder {
  padding: $header-height 0 0;

  @include for-tablet {
    padding-left: $sidebar-width;
  }
}
