@import "@styles/variables";
@import "@styles/mixins";

.HeaderWrapper {
  height: var(--header-height);
  background-color: var(--content-color);
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 5px 17px;
  z-index: 10;
}

.LogoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.LogoText {
  font-weight: 700;
  display: none;

  @include for-tablet-l {
    display: block;
  }
}

.HeaderLogo {
  display: none;
  width: 44px;
  height: 44px;

  img {
    width: 100%;
    height: 100%;
  }

  @include for-tablet-l {
    display: block;
  }
}

.HeaderContentWrapper {
  display: none;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;

  @include for-tablet-l {
    display: flex;
  }
}

