@import "@styles/variables";
@import "@styles/mixins";

@keyframes modalAppear {
  0% {
    right: -50px;
  }

  100% {
    right: 20px;
  }
}

@keyframes modalAppearTablet {
  0% {
    margin-top: 0;
    opacity: 0;
  }

  0% {
    opacity: 0;
  }

  100% {
    margin-top: 60px;
    opacity: 1;
  }
}

@keyframes modalBgAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ModalBg {
  background-color: var(--modal-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 100;
  justify-content: center;
  animation: modalBgAppear 0.2s linear;
  overflow-y: scroll;
  width: 100vw;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background: var(--modal-bg);
    position: absolute;
  }
}

.ModalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: var(--light-text-color);
  transition: all 0.2s;
  cursor: pointer;
  z-index: 101;

  &:hover {
    color: var(--secondary-color);
  }
}

.ModalContent {
  align-self: flex-start;
  background-color: var(--content-color);;
  animation: modalAppear 0.15s ease-in;
  border-radius: 5px;
  position: relative;
  max-width: 450px;
  width: 100%;
  min-height: calc(100% - 40px);
  top: 20px;
  right: 20px;
  display: flex;
  flex-grow: 1;

  @include for-tablet {
    position: absolute;
    //right: 20px;
    //transform: translateX(-50%);
    //margin: 60px 0 0 0;
    //animation: modalAppearTablet 0.2s linear;
  }
}
