@import "@styles/variables";

.SearchWrapper {
  position: relative;
}

.SearchInput {
  width: 100%;
  padding: 10px 20px 10px 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-family: var(--font-family);
  background-color: var(--input-color);
  color: var(--secondary-color);
  outline: none;

  &:focus {
    border-color: var(--input-focus);
  }
}

.SearchIcon {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  right: 10px;
  color: var(--secondary-bright);
}
