@import "@styles/variables";

.SearchWrapper {
  position: relative;
}

.SearchInput {
  width: 100%;
  padding: 10px 20px 10px 10px;
  border: 1px solid $primary-bright;
  border-radius: 5px;
  font-family: $font-family;

  &:focus {
    outline: none;
    border-color: $primary-active;
  }
}

.SearchIcon {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  right: 10px;
  color: $primary-bright;
}
