@import "@styles/variables";

.Aside {
  position: absolute;
  top: calc($header-height + calc(50px - 1px));
  right: 0;
  bottom: 0;
  background-color: $content-color;
  width: 100%;
  max-width: 350px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.Content {
  position: fixed;
  width: 100%;
}

.TitleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}

.Title {
  margin: 8px 0;
  font-weight: 600;
  font-size: 1em;
}

.Divider {
  border-bottom: 1px solid $border-color;
}

.List {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 350px;
  grid-gap: 8px;
  margin-top: 16px;
  padding: 16px;
}
