@import '@styles/variables';

.TitleWrapper {
  padding: 10px 20px;
}

.Title {
  font-size: 1.2em;
  color: $secondary-color;
  margin: 20px 0 5px;
}

.Description {
  font-size: 1em;
  color: $light-text-color;
  margin: 5px 0 10px;
}

.Divider {
  height: 1px;
  width: 100%;
  background-color: $border-color;
}
