@import "@styles/mixins";

.Wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ListHolder {
  flex-grow: 1;
}

.List {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;

  @include for-laptop-l() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-desktop-l() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.PaginationWrapper {
  display: flex;
  justify-content: center;
}
