@import '@styles/variables';

.Task {
  //padding: 16px;
  //border: 1px solid $border-color;
  //margin-bottom: 16px;
  //background-color: $content-color-hover;
  //opacity: 0.4;
  //cursor: pointer;

  p {
    margin: 0;
  }
}

.ItemWrapper {
  display: flex;
  gap: 16px;
  //margin: 16px 0 0;
  width: 100%;

  &:last-child {
    flex-grow: 1;
  }
}

.DragIconWrapper {
  align-self: flex-start;
}

.DragIcon {
  color: $light-text-color;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.Content {
  flex-grow: 1;
  padding: 16px;
  border: 1px solid $border-color;
  background-color: $content-color-hover;
}
