@font-face {
  font-family: 'icomoon';
  src:  url('@src/assets/fonts/icomoon.eot?1evds1');
  src:  url('@src/assets/fonts/icomoon.eot?1evds1#iefix') format('embedded-opentype'),
  url('@src/assets/fonts/icomoon.ttf?1evds1') format('truetype'),
  url('@src/assets/fonts/icomoon.woff?1evds1') format('woff'),
  url('@src/assets/fonts/icomoon.svg?1evds1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-user:before {
  content: "\e921";
}
.icon-mentor:before {
  content: "\e900";
}
.icon-group:before {
  content: "\e901";
}
.icon-roles:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e903";
}
.icon-filters:before {
  content: "\e904";
}
.icon-delete:before {
  content: "\e905";
}
.icon-show:before {
  content: "\e906";
}
.icon-hide:before {
  content: "\e907";
}
.icon-application:before {
  content: "\e908";
}
.icon-course:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-settings:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-small-cross:before {
  content: "\e90e";
}
.icon-sort:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-profile:before {
  content: "\e911";
}
.icon-camera:before {
  content: "\e912";
}
.icon-edit:before {
  content: "\e913";
}
.icon-top:before {
  content: "\e914";
}
.icon-right:before {
  content: "\e915";
}
.icon-left:before {
  content: "\e916";
}
.icon-bottom:before {
  content: "\e917";
}
.icon-logout:before {
  content: "\e918";
}
.icon-right-big:before {
  content: "\e919";
}
.icon-top-big:before {
  content: "\e91a";
}
.icon-bottom-big:before {
  content: "\e91b";
}
.icon-left-big:before {
  content: "\e91c";
}
.icon-lock:before {
  content: "\e91d";
}
.icon-avatar:before {
  content: "\e91e";
}
.icon-clock:before {
  content: "\e91f";
}
.icon-plus-big:before {
  content: "\e920";
}
