$primary-color: #546FFF;
$primary-hover: #3D53DB;
$primary-active: #2A3BB7;
$primary-disabled: #7E95FF;
$primary-bright: #DCE4FF;
$success-color: #9CD323;
$error-color: #FF4423;
$error-hover: #DB2719;
$error-active: #B71112;
$error-disabled: #ff5959;
$error-bright: #FFE7D3;
$warning-color: #FFC73A;
$secondary-color: #141522;
$secondary-light: #54577A;
$secondary-bright: #8E92BC;
$reverse-text-color: #ffffff;
$body-color: #F5F5F7;
$content-color: #FFFFFF;


$light-text-color: #656566;
$bright-text-color: #ededed;


$font-family: 'Manrope', sans-serif;
