$primary-color: #687ef1;
$primary-hover: #3D53DB;
$primary-active: #2A3BB7;
$primary-disabled: #7E95FF;
$primary-light: #9faef8;
$primary-bright: #DCE4FF;
$primary-brightest: #f2f4ff;
$success-color: #24ae7c;
$success-hover: #32b985;
$success-disabled: #59a086;
$error-color: #FF4423;
$error-hover: #DB2719;
$error-active: #B71112;
$error-disabled: #ff5959;
$error-bright: #FFE7D3;
$warning-color: #FFC73A;
$secondary-color: #141522;
$secondary-light: #54577A;
$secondary-bright: #8E92BC;
$reverse-text-color: #ffffff;
$body-color: #F5F5F7;
$content-color: #FFFFFF;
$content-disabled: #ededed;
$sub-content-color: #FAFAFA;
$content-color-hover: #f8f8f8;
$modal-bg: rgba(72,82,104,0.6);
$light-box-shadow: rgba(0, 0, 0, 0.10);
$border-color: #dee2ed;
$focus-color: #F5F5F7;

$light-text-color: #656566;
$bright-text-color: #ededed;

$header-height: 60px;
$sidebar-width: 250px;

$font-family: 'Manrope', sans-serif;
