$primary-color: #383f51;
$primary-hover: #484e5d;
$primary-active: #303746;
$primary-disabled: #414451;
$primary-light: #535664;
$primary-bright: #DCE4FF;
$primary-brightest: #f2f4ff;
$success-color: #24ae7c;
$success-hover: #32b985;
$success-disabled: #59a086;
$error-color: #FF4423;
$error-hover: #DB2719;
$error-active: #B71112;
$error-disabled: #ff5959;
$error-bright: #FFE7D3;
$warning-color: #FFC73A;
$secondary-color: #141522;
$secondary-light-text: #73768f;
$secondary-light: #54577A;
$secondary-bright: #8E92BC;
$reverse-text-color: #ffffff;
$body-color: #EDEEF0;
$content-color: #FFFFFF;
$content-disabled: #ededed;
$sub-content-color: #FAFAFA;
$content-color-hover: #f8f8f8;
$modal-bg: rgba(72,82,104,0.6);
$light-box-shadow: rgba(0, 0, 0, 0.10);
$border-color: #dee2ed;
$focus-color: #F5F5F7;
$body-hover: #e6e6e6;

$light-text-color: #656566;
$bright-text-color: #ededed;
$accent-text-color: #8f8f8f;

$header-height: 60px;
$sidebar-width: 250px;
$controls-height: 73px;

$content-width: 1300px;
$small-content-width: 1100px;
$content-padding-desktop: 24px;

$font-family: 'Manrope', sans-serif;
