@import "@styles/variables";

.TableHead {
  border-bottom: 1px solid $primary-bright;

  th {
    text-align: left;
    padding: 15px;
    box-sizing: border-box;

    &:first-child {
      width: 3%;
    }

    &:nth-child(2) {
      width: 5%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 20%;
    }

    &:nth-child(6) {
      width: 15%;
    }

    &:nth-child(7) {
      width: 15%
    }

    &:last-child {
      width: 5%;
      text-align: center;
    }
  }
}
