@import "@styles/variables";

.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  border-radius: 5px;
  max-width: 100%;
}

.Image {
  max-height: 470px;
  max-width: 100%;
  object-fit: contain;
  border: 2px solid $body-color;
  border-radius: 5px;
}

.Description {
  font-size: 0.9em;
  color: $light-text-color;
  font-style: italic;
  text-align: center;
}
