@import "@styles/variables";
@import "@styles/mixins";

.List {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}

.Wrapper {
  background-color: var(--content-color);
  border: 1px solid var(--accent-border-color);
  padding: 24px;
  border-radius: 10px;
  max-width: 100%;
  position: relative;
}

.UserInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.UserInfo {
  display: flex;
  align-items: center;
}

.UserData {
  flex: 1;
  width: 100%;
}

.Name {
  margin: 0;
  width: 150px;
}

.Email {
  margin: 0;
  height: 0.8em;
  width: 100px;
}

.Avatar {
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;

  @include for-tablet() {
    width: 58px;
    height: 58px;
    max-width: 58px;
    max-height: 58px;
  }

  @include for-desktop() {
    width: 68px;
    height: 68px;
    max-width: 68px;
    max-height: 68px;
  }
}

.Message {
  width: 100%;
  margin: 21px 0;
  min-height: 44px;
}

.Role {
  font-weight: 600;
  color: var(--secondary-light);
  align-self: flex-start;
  margin: 0;
  width: 50px;
  position: absolute;
  top: 15px;
  font-size: 0.8em;
  right: 24px;

  @include for-tablet() {
    font-size: 0.9em;
  }
}

.BottomInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 30px;

  @include for-desktop() {
    flex-direction: row;
    align-items: center;
  }
}

.Buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  justify-content: flex-end;

  @include for-tablet() {
    flex-direction: row;
  }

  span {
    width: 100%;

    @include for-desktop() {
      height: 30px;
      min-width: 130px;
      max-width: 130px;
      gap: 20px;
    }
  }
}

.Date {
  color: var(--secondary-bright);
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-height: 16px;

  span {
    &:first-child {
      display: inline-block;
      margin-right: 5px;
    }

    &:last-child {
      display: inline-block;
      width: 100px;
      height: 16px;
    }
  }

  @include for-desktop() {
    margin: 0;
    order: -1;
  }
}
