@import "@styles/variables";
@import "@styles/mixins";

.RegisterProgressWrapper {
  width: 100%;
  margin: 20px 0;
}

.RegisterProgressList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.RegisterProgressItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &:first-child {
    flex-grow: 0;
  }
}

.StepText {
  margin-left: 10px;
}

.StepTitle {
  font-size: 0.8em;
  font-weight: 500;
  margin: 3px 0 2px;
  color: $light-text-color;
}

.StepDescription {
  margin: 0;
  font-size: 0.9em;
  font-weight: 600;
  color: $secondary-color;
}

.StepStatus {
  margin: 0;
  font-size: 0.65em;
  height: 0.65em;
  font-weight: 800;
  color: $primary-active;
  transition: all 0.2s;

  &--completed {
    color: $success-hover;
  }
}

.RegisterProgressIconWrapper {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--completed {
    background-color: $primary-color;
  }
}

.RegisterProgressIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9398a2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #9398a2;
  font-size: 16px;
  transition: all 0.2s;

  &--prev {
    color: $reverse-text-color;
    border-color: $success-hover;
    background-color: $success-hover;
  }

  &--active {
    border-color: $primary-hover;
    color: $primary-hover;
    background-color: $primary-bright;

    @include for-laptop {
      transition: all 0.2s, background-color 0.3s;
      transition-delay: 0.2s;
    }
  }
}

.RegisterProgressDivider {
  height: 25px;
  width: 1px;
  background-color: #9398a2;
  margin: 10px 0;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 0;
    background-color: $success-hover;

    @include for-laptop {
      transition: all 0.2s;
    }
  }

  &--active {

    &:before {
      height: 100%;
    }
  }
}
