@import "@styles/mixins";

.Wrapper {
  background-color: $content-color;
  padding: 8px 32px 8px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.ControlButton {
  height: 30px;

  button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    span:first-child {
      margin-right: 0;
    }

    span:last-child {
      display: none;
    }
  }


  @include for-tablet() {
    button {
      display: unset;
      align-items: unset;
      justify-content: unset;

      span:first-child {
        margin-right: 10px;
      }

      span:last-child {
        display: unset;
      }
    }
  }
}
