@import "@styles/variables";

.RoleTagWrapper {
  padding: 3px 10px;
  border-radius: 5px;
  display: inline-block;

  &--admin {
    background-color: #8073e1;
    color: $reverse-text-color;
  }

  &--guest {
    background-color: #cbcc71;
    color: $reverse-text-color;
  }

  &--student {
    background-color: #77bcc1;
    color: $reverse-text-color;
  }

  &--watcher {
    background-color: #cab27e;
    color: $reverse-text-color;
  }

  &--owner {
    background-color: $primary-color;
    color: $reverse-text-color;
  }
}
