@import "@styles/mixins";

.RegisterFormWrapper {
  padding: 5px;
  border-radius: 5px;
  background-color: #f5f6fa;
  max-width: 500px;
  width: 100%;
  margin: 30px 15px 0;
  display: flex;
  flex-direction: column;

  @include for-tablet {
    margin: 50px 0 0;
    flex-direction: row;
  }

  @include for-desktop {
    margin: 100px 0 0;
  }

}

.RegisterFormElem {
  //margin: 25px 0 0;
  //min-height: 300px;
}

.RegisterContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $content-color;
  padding: 30px 20px;
  border-radius: 10px;
  order: -1;
  //max-width: 400px;
  width: 100%;

  @include for-tablet {
    order: unset;
  }

  form {
    width: 100%;
  }
}

.RegisterTitleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h2 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0 5px 0 0;
    text-align: center;
  }
}

.RegisterOrganisationName {
  //color: $light-text-color;
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;

  span:first-child {
    font-weight: 900;
  }

  span:last-child {
    color: $light-text-color;
  }
}
