@import "@styles/mixins";

.RegisterFormWrapper {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--light-border-color);
  max-width: 900px;
  width: 100%;
  margin: 30px 15px 0;
  display: flex;
  flex-direction: column;

  @include for-tablet {
    margin: 30px 0 0;
    flex-direction: row;
  }

  @include for-desktop {
    margin: 40px 0 0;
  }

}

.RegisterContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--content-color);
  padding: 30px 20px;
  border-radius: 5px;
  order: -1;
  width: 100%;
  gap: 20px;

  @include for-tablet() {
    order: unset;
  }

  form {
    width: 100%;
  }
}

.RegisterFormElem {
  flex-basis: 100%;
  height: 100%;

  @include for-tablet() {
    flex-basis: 60%;
  }
}

.RegisterForm {
  display: flex;
  height: 100%;
}

.RegisterStepWrapper {
  background-color: var(--sub-content-color);
  border-radius: 10px;
  flex-basis: 40%;
  padding: 25px;
  display: none;

  @include for-tablet() {
    display: unset;
  }
}

.RegisterLogo {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.RegisterLogoImg {
  max-width: 1.5em;
  height: 1.5em;
  margin-right: 5px;
}

.RegisterText {
  display: flex;
  align-items: center;
}

.RegisterTitleText {
  margin: 0;
  font-size: 1.5em;
  line-height: 24px;
  max-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.RegisterSubTitle {
  margin: 0;
  font-size: 0.7em;
  line-height: 0.7em;
  max-height: 0.7em;
  color: var(--light-text-color);
  font-weight: 800;
}

.RegisterOrganisationName {
  color: var(--light-text-color);
  margin: 0 0 40px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
