@import "@styles/variables";

.AvatarFillerWrapper {
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  color: $reverse-text-color;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-transform: capitalize;
}
