@import "@styles/variables";

.Wrapper {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--content-color);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus, &:active {
    border-color: var(--primary-color);
  }
}

.Icon {
  font-size: 18px;
  color: var(--secondary-bright);
}
