@import "@styles/variables";


@keyframes appear {
  0% {
    opacity: 0;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.AddBlockButton {
  background-color: $content-color;
  padding: 16px 32px;
  border-radius: 10px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 1px dashed transparent;
  margin-bottom: 24px;
  position: relative;

  &:hover {
    cursor: pointer;
    transition: all 0.2s;
    border-color: $secondary-light;

    p, svg {
      color: unset;
    }
  }

  svg {
    color: $light-text-color;
  }

  p {
    margin: 0;
    font-size: 1.1em;
    font-weight: 500;
    color: $light-text-color;
  }

  &--over {
    border: 1px dashed $secondary-bright;

    &:hover {
      p, svg {
        color: $light-text-color;
      }
    }
  }

}

.AddButtonOver {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.5);
  z-index: 100;

  animation: appear 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  font-size: 1.2em;

  svg {
    color: $light-text-color;
  }

  p {
    //font-size: 1.2em;
    font-weight: 500;
  }
}
