@import '@styles/variables';

@keyframes appear {
  0% {
    opacity: 0;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Column {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $content-color;
  padding: 24px 16px;
  margin-top: 16px;
  border-radius: 10px;
  position: relative;
}

.ContentTitle {
  margin: 8px 0;
}

.Delete {
  position: absolute;
  top: 16px;
  right: 16px;
  user-select: none;

  svg {
    color: $light-text-color;
    cursor: pointer;

    &:hover {
      color: $error-hover;
    }
  }
}

.Content {
  flex-grow: 1;
  overflow: hidden;
}

.BlockContent {
  border: 1px dashed transparent;
  background-color: #f9f9f9;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: border-color 0.2s;

  &--active {
    border-color: $secondary-bright;
  }

  &--over {
    border-color: $secondary-light;
  }
}

.BuilderActiveOverflow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.5);
  z-index: 7;

  animation: appear 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  svg {
    color: $light-text-color;
  }
}

.Container {
  flex-grow: 1;
  flex-direction: column;
  transition: all 0.2s;

}

.Wrapper {
  position: relative;
  flex-grow: 1;
}

.EmptyContainer {
  border: 1px dashed transparent;
  background-color: #f9f9f9;
  padding: 16px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &--active {
    border-color: $secondary-bright;
  }

  svg {
    color: $light-text-color;
  }


  &--over {
    border-color: $secondary-light;
  }
}

.EmptyText {
  font-weight: 500;
  margin: 0;
  color: $light-text-color;
}


