@import "@styles/variables";
@import "@styles/atomic";
@import "@styles/fonts";
@import "@styles/lib";

html {
  font-size: 14px;

  @media (min-width: 2000px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondary-color);
  overflow-x: hidden;
  background-color: var(--body-content-color);
  //background-color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: var(--border-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--focus-color);
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
