@import "@styles/variables";

.Wrapper {
  background-color: var(--content-color);
  padding: 16px;
  border-radius: 10px;
  max-width: 100%;
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
}

.IconWrapper {
  width: 40px;
  height: 40px;
  background-color: var(--body-content-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  color: var(--light-text-color);
}

.Text {
  font-size: 1em;
  color: var(--light-text-color);
  font-weight: 500;
  margin: 0;
}
