@import "@styles/variables";

.EmailStepWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 60px;
}

.StepTitle {
  font-size: 1.2em;
  text-align: center;
  font-weight: 800;
  margin: 10px 0 10px;
}

.StepDescription {
  color: $light-text-color;
  text-align: center;
  font-weight: 500;
  margin: 0 0 30px;
}

.StepInputs {
  flex-grow: 1;
}

.StepOTPText {
  color: $light-text-color;
  font-size: 0.9em;
  text-align: center;
}

.ResendButton {
  font-size: 0.9em;
  color: $light-text-color;
  display: inline-block;
  margin: 5px 0 0;

  &--active {
    color: $primary-color;

    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
}

.ButtonWrapper {
  justify-content: space-between;
  display: flex;
  margin-top: 30px;

  button {
    height: 30px;
  }
}
