@import "@styles/variables";
@import "@styles/mixins";

.Controls {
  background-color: var(--content-color);
  padding: 16px 32px 16px;
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  width: 100%;
  z-index: 9;

  @include for-tablet-l() {
    width: calc(100% - var(--sidebar-width));
  }
}

.ControlsSearchWrapper {
  width: 100%;
  margin-right: 20px;

  @include for-tablet() {
    width: 100%;
    max-width: 320px;
  }
}

.ControlButton {
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    span:first-child {
      margin-right: 0;
    }

    span:last-child {
      display: none;
    }
  }


  @include for-tablet() {
    button {
      display: unset;
      align-items: unset;
      justify-content: unset;

      span:first-child {
        margin-right: 10px;
      }

      span:last-child {
        display: unset;
      }
    }
  }
}
